<!DOCTYPE html>
<html lang="hr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<meta name="description" content="Anketiranje hrvatskih korisnika Facebooka o referendumskom pitanju o braku 2013. godine.">
<META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

<meta property="og:title" content="Referendum 2013" />
<meta property="og:description"
	content="Odgovorite na referendumsko pitanje i saznajte koliko vaših prijatelja je glasalo Za ili Protiv !" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://referendum2013.hr" />
<meta property="og:image"
	content="http://referendum2013.hr/static/images/logo.png" />
<meta property="og:site_name" content="Referendum 2013" />
<meta property="fb:app_id" content="1407261166178158" />
<meta id="mediaSlideKeywords" name="keywords"
	content="referendum, 2013, brak"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>referendum2013.hr</title>

<link rel="shortcut icon"
	href="http://referendum2013.hr/static/images/referendum2013-favicon.ico">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!-- <link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css"> -->

<link href="{{ STATIC_URL }}django_facebook/css/facebook.css"
	type="text/css" rel="stylesheet" media="all" />


<style type="text/css">
#logo {
	text-align: center;
	vertical-align: baseline;
	margin-top: 20px;
}

.header-logo {
	display: inline-block;
	height: auto;
	max-width: 100%;
	line-height: 1.42857;
	transition: all 0.2s ease-in-out 0s;
}

#login {
	vertical-align: baseline;
	margin-top: 20px;
}

.jumbotron {
	text-align: center;
}

.pagination-centered {
	text-align: center;
}

.text-disclaimer {
	text-align: justify;
}

.text-question {
	
}
</style>

{% block extra_head %}{% endblock %}
</head>
<body>
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/hr_HR/all.js#xfbml=1&appId=1407261166178158";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://referendum2013.hr">referendum2013.hr</a>
			</div>
			<nav class="navbar-collapse bs-navbar-collapse collapse"
				role="navigation" style="height: 1px;">
				{% if user.is_authenticated %}
				<div class="nav navbar-nav navbar-right">
					<a class="btn btn-default navbar-btn navbar-right"
						href="{% url 'auth_logout' %}?next={{ request.path|urlencode }}">Odlogiraj
						se</a>
				</div>
				{% endif %}
			</nav>
		</div>
	</div>


	<div class="container">		

		<div class="row">
			<div class="col-sm-4">
				<div class="row text-center">
					<img src="{{ STATIC_URL }}images/logo.png" alt="referendum2013.hr"
						class="header-logo" />
				</div>
			</div>

			{% if not user.is_authenticated %}

			<div id="login" class="col-sm-8">
				<!-- <div class="jumbotron">  -->
				<div class="well">
					<h2>Referendum 2013</h2>
					<p class="lead">Prijavite se putem Facebooka, glasajte i saznajte
						što vaši prijatelji i ostali misle o ovoj temi.</p>
					<!--form to call registration via facebook -->
					<form action="{% url 'facebook_connect' %}" method="post">
						{% csrf_token %} <input type="hidden" value="{{ request.path }}"
							name="next" />
						<p>
							<a class="btn btn-lg btn-default" role="button"
								onclick="F.connect(this.parentNode.parentNode); return false;">Prijavite
								se putem Facebooka</a>
						</p>
					</form>
					<div class="fb-like" data-href="http://referendum2013.hr/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
					<div class="fb-share-button" data-href="http://referendum2013.hr/" data-width="100" data-type="button_count" style="display: block"></div>


				</div>
				<div class="panel panel-default">
					<div class="panel-body text-disclaimer">
						<h5>
							<small>
								<p class="muted">U svrhu ovoga istraživanja prikupljamo
									podatke o vašem stavu o referendumskom pitanju, kao i određene
									podatke s Facebooka (Facebook identifikacijski broj, godinu rođenja, lokaciju, spol i popis vaših
									prijatelja), čime želimo dobiti uvid u načine kako međusobna
									poznanstva utječu na stavove korisnika Facebooka. Vaš
									individualni odgovor na referendumsko pitanje i podaci o vašem
									profilu neće biti vidljivi drugim korisnicima, već će samo biti
									vidljiv anonimni prosjek odgovora. Jedino ćete vi vidjeti
									prosjek odgovora vaših prijatelja. Istraživači garantiraju da
									prikupljeni podaci neće biti korišteni ni u koje druge svrhe
									osim znanstveno-istraživačke. Prijavom na ovaj upitnik
									potvrđujete da ste suglasni s ovim pravilima korištenja.</p>
							</small>
						</h5>
					</div>
				</div>
			</div>
			{% endif %} 
			
			{% if user.is_authenticated %}
			<div class="col-sm-7 col-sm-offset-1">
				<div class="well">
					<h2>Referendumsko pitanje</h2>
					<p class="lead text-question">Jeste li za to da se u Ustav Republike Hrvatske unese
							odredba po kojoj je brak životna zajednica žene i muškarca?</p>
					<!--form to call registration via facebook -->
					<div id="div_vote" class="text-center">
					<button id="btn_yes" class="btn btn-large btn-default" 
							type="button" style="Width:120px;font-size:x-large;margin:10px 20px 10px 20px;">Za</button>
					<button id="btn_no" class="btn btn-large btn-default" style="Width:120px;font-size:x-large;margin:10px 20px 10px 20px;" 
							type="button">Protiv</button>
					</div>
					
					<div class="well well-sm" style="margin:20px 0px 20px 0px;">
						<span id="vote_message"></span>	
					</div>
		
 
					<div class="fb-like" data-href="http://referendum2013.hr/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
					<div class="fb-share-button" data-href="http://referendum2013.hr/" data-width="100" data-type="button_count"
					 style="display: block"></div>

				</div>


			</div>

			{% endif %}
		
		</div>
	</div>

	<hr />
	<div class="container">
		
		{% if not user.is_authenticated %}

		<div class="col-md-12 text-center">
			<h2>Trenutni rezultati</h2>
			<svg id="chart_global_results"></svg>
		</div>

		{% endif %}

		{% if user.is_authenticated %}

		<div class="col-md-6 text-center">
			<h2>Trenutni rezultati</h2>
			<svg id="chart_global_results"></svg>
		</div>

		<div class="col-md-6 text-center">
			<h2>Trenutni rezultati vaših prijatelja</h2>
			<svg id="chart_friends_results"></svg>
		</div>

		{% endif %}

	</div>

	<hr />
	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-6">
				<h2>O projektu</h2>
				<p>Ova web stranica predstavlja dio znanstvenoga istraživanja u
					području društvenih mreža. Cilj je ovoga istraživanja utvrditi kako
					stav okoline utječe na stav pojedinca te kako se širi vijest u
					društvenim mrežama.</p>

			</div>
			<div class="col-md-6">
				<h2>Autori projekta</h2>
				<p>doc.dr.sc. <a href="http://www.fer.unizg.hr/mile.sikic">Mile Šikić</a> , Kontakt: referendum2013.hr@gmail.com <br> 
				Nino Antulov-Fantulin, Iva Miholić, Matija Piškorec, Bruno Rahle, Tomislav Lipić, Vedran Ivanac, Matej Mihelčić.
				</p>
			</div>
		</div>


		<hr />

		<footer>
			<p>©referendum2013.hr</p>
		</footer>

		<input type="hidden" id="global_results" value="{{ global_results }}">
	</div>
	
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script>
	function draw_piechart(data, svg)
	{
		var width = 300,
		    height = 300,
		    radius = Math.min(width, height) / 2;

		// var data = [{"label": "protiv", "value": 1},
		//             {"label": "za", "value": 1}
		//             ];

		var total_votes = data[0].value + data[1].value;

		var color_za = d3.rgb(55,148,48);
		var color_protiv = d3.rgb(241,27,27);
		var color_prazno = d3.rgb(200,200,200);

		var svg = svg
		    .attr("width", width)
		    .attr("height", height)
		  .append("g")
		    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

		var arc_zero = d3.svg.arc()
		    .innerRadius(radius - 0.45*radius)
		    .outerRadius(radius - 0.05*radius)
		    .startAngle(0);

		var path_zero = svg.append("path")
		          .datum({endAngle: 2*Math.PI})
		          .attr("fill", color_prazno)
		          .attr("d", arc_zero)
		          .classed("prazan");

		if (total_votes >= 3 )
		{

		var ratio_protiv = data[0].value / total_votes;
		var ratio_za = data[1].value / total_votes;

		var percentage_protiv = Math.round (ratio_protiv *100);
		var percentage_za = Math.round(ratio_za *100);

		var arc = d3.svg.arc()
		    .innerRadius(radius - 0.45*radius)
		    .outerRadius(radius - 0.05*radius);

		var za_arc = svg.append("path")
		    .datum({startAngle: 2*Math.PI, endAngle: 2*Math.PI})
		    .attr("fill", color_za)
		    .attr("d", arc)
		    .transition()
		    .duration(2000)
		    .attrTween("d", function(d) {
		      var interpolate = d3.interpolate(d.endAngle, ratio_protiv*2*Math.PI);
		          return function(t) {
		            d.endAngle = interpolate(t);
		            return arc(d);
		            }
		      });

		var protiv_arc = svg.append("path")
		    .datum({startAngle: 0, endAngle: 0})
		    .attr("fill", color_protiv)
		    .attr("d", arc)
		    .transition()
		    .duration(1500)
		    .attrTween("d", function(d) {
		      var interpolate = d3.interpolate(d.endAngle, ratio_protiv*2*Math.PI);
		          return function(t) {
		            d.endAngle = interpolate(t);
		            return arc(d);
		            }
		      });

		svg.append("text")
		    .attr("dy", ".75em")
		    .attr("y", -0.15*radius )
		    .attr("x", 0 )
		    .attr("text-anchor", "middle")
		    .attr("font-family","sans-serif")
		    .attr("font-size","22px")
		    .attr("fill",color_za)
		    .text("0")
		    .transition()
		    .duration(2000)
		    .tween("text", 
		      function() {
		          var i = d3.interpolate(this.textContent, Math.round(percentage_za));
		      return function(t) {
		              this.textContent = "ZA " + Math.round(i(t)) + "%";
		              };
		      });

		svg.append("text")
		    .attr("dy", ".75em")
		    .attr("y", 0.05*radius )
		    .attr("x", 0 )
		    .attr("text-anchor", "middle")
		    .attr("font-family","sans-serif")
		    .attr("font-size","22px")
		    .attr("fill",color_protiv)
		    .text("0")
		    .transition()
		    .duration(2000)
		    .tween("text", 
		      function() {
		          var i = d3.interpolate(this.textContent, Math.round(percentage_protiv));
		      return function(t) {
		              this.textContent = "PROTIV " + Math.round(i(t)) + "%";
		              };
		      });

		}
		else
		{

		  svg.append("text")
		    .attr("y", -0.15*radius )
		    .attr("x", 0 )
		    .attr("text-anchor", "middle")
		    .attr("font-family","sans-serif")
		    .attr("font-size","22px")
		    .attr("fill",color_prazno)
		    .text("Nema dosta");

		  svg.append("text")
		    .attr("y", 0.05*radius )
		    .attr("x", 0 )
		    .attr("text-anchor", "middle")
		    .attr("font-family","sans-serif")
		    .attr("font-size","22px")
		    .attr("fill",color_prazno)
		    .text("podataka za");

		  svg.append("text")
		    .attr("y", 0.25*radius )
		    .attr("x", 0 )
		    .attr("text-anchor", "middle")
		    .attr("font-family","sans-serif")
		    .attr("font-size","22px")
		    .attr("fill",color_prazno)
		    .text("prijatelje:-(");
		}
	}
	</script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script>
		var current_vote = -1;
		if('{{vote}}' != 'None')
			current_vote = {{vote}};

		$(document).ready(function() {
			draw_results();
			init_controls();

			change_btn_vote_style(current_vote);

			change_vote_msg(current_vote);

		});

		function init_controls()
		{
			$("#btn_yes").click(function(e) {
			user_vote(1);
			});		

			$("#btn_no").click(function(e) {
				user_vote(0);
			});

			$('#btn_yes').hover(function () {
				if(current_vote != 1)
				{
					$(this).removeClass('btn-default');
		        	$(this).addClass('btn-success');
		        }
		        }, function () {
		        	if(current_vote != 1)
					{
		            	$(this).removeClass('btn-success');
		            	$(this).addClass('btn-default');
		            }
		    });		    	
				

			$('#btn_no').hover(function () {
				if(current_vote != 0)
				{
					$(this).removeClass('btn-default');
		        	$(this).addClass('btn-danger');
		   		}
		        }, function () {
		        	if(current_vote != 0)
					{
		            	$(this).removeClass('btn-danger');
		            	$(this).addClass('btn-default');
		            }
		    });		    	
			
		}

		function draw_results()
		{
			results = jQuery.parseJSON("{{ global_results }}".replace(/&#39;/g,"\""));
			draw_aggreated_results(results, d3.select("#chart_global_results"));

		
			friends_results = jQuery.parseJSON("{{ friends_results }}".replace(/&#39;/g,"\""));
						
			if(friends_results!=-1)
			{
				draw_aggreated_results(friends_results, d3.select("#chart_friends_results"));	
			}
		}

		function draw_aggreated_results(results, chart)
        {
                var mod_results = [
                        {'label': 'protiv', 'value': 0},
                        {'label': 'za', 'value': 0},
                ];

                if(results.length >= 1)
                {
                        mod_results[results[0].vote].value = Number(results[0].vote_count);        
                }
                if(results.length == 2)
                {                                
                        mod_results[results[1].vote].value = Number(results[1].vote_count);        
                }                

                draw_piechart(mod_results, chart);
        }

		function change_btn_vote_style(vote_value)
		{
			if(vote_value == 1)
			{
				$('#btn_yes').removeClass('btn-default');
		        $('#btn_yes').addClass('btn-success');

		        $('#btn_no').removeClass('btn-danger');
		        $('#btn_no').addClass('btn-default');		        
		    }
		    else if(vote_value == 0)
			{
				$('#btn_no').removeClass('btn-default');
		        $('#btn_no').addClass('btn-danger');

		        $('#btn_yes').removeClass('btn-success');
		        $('#btn_yes').addClass('btn-default');		        
		    }
		    else
		    {
		    	$('#btn_no').attr('class', 'btn btn-large btn-default');
		    	$('#btn_yes').attr('class', 'btn btn-large btn-default');
		    }
		}

		function change_vote_msg(vote_value)
		{
			var note = ' Ako želite možete promijeniti glas. Samo je zadnji glas važeći.';
			if(current_vote == 0)
				$('#vote_message').text('Glasali ste PROTIV!' + note);
			else if(current_vote == 1)
				$('#vote_message').text('Glasali ste ZA!' + note);
			else
				$('#vote_message').text('Još niste dali svoj glas!');			
		}

	</script>
	
	<script type="text/javascript">

	function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
	}

	$.ajaxSetup({
	    crossDomain: false, // obviates need for sameOrigin test
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	</script>

	<script type="text/javascript">
	
	function user_vote(vote_value)
	{

		var data = 'vote=' + vote_value;

		//start the ajax
        $.ajax({
            //this is the php file that processes the data and send mail
            url: "http://referendum2013.hr/vote2/", 
             
            //GET method is used
            type: "POST",
 
            //pass the data         
            data: data,     
             
            //Do not cache the page
            cache: true,
            
            //dataType: 'json',
            
            //success
            success: function (data, textStatus, jqXHR) {              

                /*
                summary = JSON.parse(data, function (key, value) {
                    var type;
                    if (value && typeof value === 'object') {
                        type = value.type;
                        if (typeof type === 'string' && typeof window[type] === 'function') {
                            return new (window[type])(value);
                        }
                    }
                    return value;
                });
                */
                //WE USE dataType: 'json', already javascript object

                //alert(data);

                current_vote = data;
                change_btn_vote_style(current_vote);
                change_vote_msg(current_vote);
                             
            },

            complete: function (jqXHR, textStatus){
            
                //alert("complete");
            },

            error: function(jqXHR, textStatus, errorThrown){

                alert("error");
            }            
        });
	}

	</script>

	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	
	{% include 'django_facebook/_facebook_js.html' %}
	
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45993003-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
