Django>=1.5
django_facebook
fabric
South
PIL
mock
python-memcached
pep8
git+http://github.com/dcramer/pyflakes.git#egg=pyflak
autopep8
unidecode
Jinja2
MarkupSafe
PyYAML
amqp
anyjson
billiard
celery
dj-database-url
django-bootstrap-toolkit
django-celery
gunicorn
honcho
kombu
nose
poster
psycopg2
python-dateutil
pytz
requests
simplejson
six
wsgiref