{% extends 'base.html' %} 

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  google.setOnLoadCallback(loadResults);
    
  function loadResults() {
    $.get('/data/age/', drawChart);
  }

  function drawChart(raw_data) {

    var data = jQuery.parseJSON(raw_data);

    //var svg = d3.select("#age_hchart");
    //$(svg[0]).empty();
   
    var ukupno_za = data.reduce(function(pv, cv) { return {"ZA":pv.ZA + cv.ZA}; }).ZA;
    var ukupno_protiv = data.reduce(function(pv, cv) { return {"PROTIV":pv.PROTIV + cv.PROTIV}; }).PROTIV;
    var ukupno_glasova = ukupno_za + ukupno_protiv;
    var data_postoci = data.map(function(d){return {"godine":d.godine, "ZA":d.ZA/ukupno_glasova, "PROTIV":d.PROTIV/ukupno_glasova};});
    
    var margin = { top: 20, right: 20, bottom: 50, left: 40 },
    width = 700 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
    
    var x0 = d3.scale.ordinal()
    	.rangeRoundBands([0, width], .1);
    var x1 = d3.scale.ordinal();
    
    var y = d3.scale.linear()
    	.range([height, 0]);
    
    // Boje za ZA i PROTIV
    var color = d3.scale.ordinal()
    	.range([d3.rgb(55,148,48), d3.rgb(241,27,27)]);
    
    var xAxis = d3.svg.axis()
    	.scale(x0)
    	.orient("bottom");

	var yAxis = d3.svg.axis()
	    .scale(y)
	    .orient("left")
	    .ticks(15, "%");
	
	var svg = d3.select("#div_age_hchart").append("svg").attr("width", width + margin.left + margin.right)
	    .attr("height", height + margin.top + margin.bottom)
	    .append("g")
	    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	
	var seriesNames = d3.keys(data_postoci[0]).filter(function (key) { return (key !== "godine"); });

	data_postoci.forEach(function (d) {
	    d.glasovi = seriesNames.map(function (name) { return { name: name, value: +d[name] }; });
	});

	x0.domain(data_postoci.map(function (d) { return d.godine; }));
	x1.domain(seriesNames).rangeRoundBands([0, x0.rangeBand()]);
	y.domain([0, (1.1*d3.max(data_postoci, function (d) { return d3.max(d.glasovi, function (d) { return d.value; }); }))]);

	svg.append("g")
	    .attr("class", "x axis")
	    .attr("transform", "translate(0," + height + ")")
	    .call(xAxis)
	      .append("text")
	      .attr("y", 20)
	      .attr("x", width/2)
	      .attr("dy", "20px")
	      .style("text-anchor", "end")
	      .text("godine");
	
	svg.append("g")
	    .attr("class", "y axis")
	    .call(yAxis)
	.append("text")
	    .attr("transform", "rotate(-90)")
	    .attr("y", 6)
	    .attr("dy", ".71em")
	    .style("text-anchor", "end")
	    .text("postotak glasova");
	
	d3.selectAll(".axis text").style("font-size","15px");
	
	var state = svg.selectAll(".state")
	    .data(data_postoci)
	.enter().append("g")
	    .attr("class", "g")
	    .attr("transform", function (d) { return "translate(" + x0(d.godine) + ",0)"; });
	
	state.selectAll("rect")
	    .data(function (d) { return d.glasovi; })
	.enter().append("rect")
	    .attr("width", x1.rangeBand())
	    .attr("x", function (d) { return x1(d.name); })
	    .style("fill", function (d) { return color(d.name); })
	    .attr("height", function (d) { return height - y(0); })
	    .attr("y", function (d) { return y(0); })
	    .transition()
	    .duration(1500)
	    .attr("height", function (d) { return height - y(d.value); })
	    .attr("y", function (d) { return y(d.value); });
	
	state.selectAll("text")
	.data(function (d) { return d.glasovi; })
	.enter(function (d) { return d.glasovi; }).append("text")
	    .attr("y", function (d) { return y(0); })
	    .attr("x", function (d) { return x1(d.name); })
	    .attr("dx",20)
	    .attr("dy",-5)
	    .attr("text-anchor", "middle")
	    .attr("font-family","sans-serif")
	    .attr("font-size","17px")
	    .attr("fill",function (d) { return color(d.name); })
	    .transition()
	    .duration(1500)
	    .attr("y", function (d) { return y(d.value); })
	    .tween("text", 
	      function(d) {
	          var i = d3.interpolate(this.textContent, Math.round(d.value*100));
	          return function(t) {
	              this.textContent = Math.round(i(t)) + "%";
	              };
	      });
	
	// A bit of styling
	d3.selectAll(".axis").style("font","10px sans-serif");
	d3.selectAll(".axis path, .axis line")
	  .style("fill","none")
	  .style("stroke","#000")
	  .style("shape-rendering","crispEdges");
	d3.selectAll(".x.axis path");//.style("display","none");
	
	var legend = svg.selectAll(".legend")
	    .data(seriesNames.slice())
	.enter().append("g")
	    .attr("class", "legend")
	    .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });
	
	legend.append("rect")
	    .attr("x", width - 18)
	    .attr("width", 18)
	    .attr("height", 18)
	    .style("fill", color);
	
	legend.append("text")
	    .attr("x", width - 24)
	    .attr("y", 9)
	    .attr("dy", ".35em")
	    .style("text-anchor", "end")
	    .style("fill", color)
	    .attr("font-size","15px")
	    .text(function (d) { return d; })
	    .on("click", function (d) {
	        alert(d);
	    });
    
  }

</script>
{% endblock %} 
{% block page_content %}
<div class="container">
	<div class=row>
		<div class="col-sm-12 text-center">
			<h2>Trenutni rezultati po dobnim skupinama</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<div id="div_age_hchart"></div>
		</div>
	</div>
</div>

{% endblock %}

