{% extends "main.html" %}

{% block action_area %}
<div id="login" class="col-sm-8">
  <div class="well">
    <h2>Referendum 2013</h2>
    <p class="lead">
      Prijavite se putem Facebooka, glasajte i saznajte što vaši prijatelji i ostali misle o ovoj temi.
    </p>
    <form action="{% url 'facebook_connect' %}" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{ request.path }}"  name="next" />
      <p>
        <a class="btn btn-lg btn-default" role="button" onclick="F.connect(this.parentNode.parentNode); return false;">
          Prijavite se putem Facebooka
        </a>
      </p>
    </form>
    <div class="fb-like" data-href="http://referendum2013.hr/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    <div class="fb-share-button" data-href="http://referendum2013.hr/" data-width="100" data-type="button_count" style="display: block"></div>
  </div>

  <p>Ukupni broj glasova: <span class="badge votes-all">{{ votes_count }}</span>
  <span class="text-muted">(osvježavanje svakih 60 sekundi)</span><br>
  Rezultate mogu vidjeti samo registrirani korisnici.
  </p>

  <div class="panel panel-default">
    <div class="panel-body text-disclaimer">
      <h5>
        <small>
          <p class="muted">U svrhu ovoga istraživanja prikupljamo
            podatke o vašem stavu o referendumskom pitanju, kao i određene
            podatke s Facebooka (Facebook identifikacijski broj, godinu rođenja, lokaciju, spol i popis vaših
            prijatelja), čime želimo dobiti uvid u načine kako međusobna
            poznanstva utječu na stavove korisnika Facebooka. Vaš
            individualni odgovor na referendumsko pitanje i podaci o vašem
            profilu neće biti vidljivi drugim korisnicima, već će samo biti
            vidljiv anonimni prosjek odgovora. Jedino ćete vi vidjeti
            prosjek odgovora vaših prijatelja. Istraživači garantiraju da
            prikupljeni podaci neće biti korišteni ni u koje druge svrhe
            osim znanstveno-istraživačke. Prijavom na ovaj upitnik
            potvrđujete da ste suglasni s ovim pravilima korištenja.</p>
        </small>
      </h5>
    </div>
  </div>
</div>
{% endblock %}

{% block results_area %}
{% endblock %}

