{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", '1', {packages:['geochart']});
  google.setOnLoadCallback(loadResults);

  function loadResults() {
    {% block chart_load_data %}
    $.get('/data/country/current/', drawChart);
    {% endblock %}
  }

  function drawChart(raw_data) {
    {% block chart_data %}
    var data = google.visualization.arrayToDataTable(jQuery.parseJSON(raw_data));
    {% endblock %}

    {% block chart_options %}
    var options = {
      width: 1000,
      height: 600,
      colorAxis: {
        minValue: 0,
        maxValue: 100,
        colors: ['#D7191C', '#FDAE61', '#FFFFBF', '#A6D96A', '#1A9641'],
      },
    };
    {% endblock %}
    var geochart = new google.visualization.GeoChart(
        document.getElementById('karta')
    );
    geochart.draw(data, options);
  }

</script>
{% endblock %}

{% block page_content %}
<div class="container">
  <h1 class="text-center">Prikaz karte</h1>
  <p>
    Oznacena su samo podrucja za koja imamo vise od 5 odgovora.
  </p>
  <p>
    Zbog nepreciznosti geolokacijskog API-ja, nepotpunosti te nepreciznosti
    podataka na Facebooku i ne-reprezentivnog uzorka, ne garantiramo preciznost
    rezultata.
  </p>
  <p>
    Popravili smo neke nedostatke u geolokacijskom API-ju, pa su nam sada ti podaci precizniji. 
  </p>
  <div id="karta">
  </div>
</div>
{% endblock %}

